// FONT FAMILY
$PrimaryFontFamily: "IBM Plex Sans Arabic", sans-serif;

// FONT SIZE
$PrimaryFontSize: 16px;
$SecondaryFontSize: 25px;
$TertiaryFontSize: 20px;
$HeadingFontSize: 25.37px;
$StepNumberFontSize: 59px;

// FONT Weight
$PriamryFontWeight: 400;
$SecondaryFontWeight: 500;

// LINE HEIGHT
$PrimaryLineHeight: 27.12px;
$SecondaryLineHeight: 42.38px;
$TertiaryLineHeight: 24px;
$TitleLineHeight: 37.5px;
$SecondaryTitleLineHeight: 38.05px;
$TextLineHeight: 30px;
$StepNumberLineHeight: 88.5px;

// COLORS
$PriamaryColor: #d3faff;
$BackgroundColor: #effdff;
$HeadingColor: #242424;
$TextColor: #939393;
$StepsBackgroundColor: #D9D9D9;
$ButtonBackgroundColor: #31b98a;
$BadgeBackgroundColor: #D3FAFF;
$BadgeTextColor: #14B1C7;
$LightColor: #ffffff;
$HeroImageButtonColor: #0C74AF;
$StepNumberBackgroundColor: #14b1c7;
